.body {

    color: #151515;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100% !important;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;

    .main {

        align-content: center;
        padding-bottom: 10px;
        width: 100%;

    }

    .nav_menu {

        /*Customización nav menu*/
        background-color: #000;
        flex-wrap: wrap;
        width: 100vw;
        color: white;
        height: auto;
        font-size: 20px;

        a {

            text-decoration: none;
            color: white;
            font-size: 22px;
            font-weight: 600;
            padding-right: 1vw;
        }

        a:hover {

            color: #5B258F;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
        
        }

        .carrito_compras {

            height: 30px;

        }

        .carrito_compras:hover {
        
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
        
        }

        .img_lofi_top {

            width: 100vw;

        }
    }

    h1 {

        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 30px;
        justify-content: center;
        text-align: center;
    
    }

    .nav {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        text-align: center;
        width: 100%;
    }

    h2 {
        text-align: center;
        width: 100%;
    }

    h3 {
        text-align: center;
        width: 100%;
    }

    p {

        align-items: center;
        text-align: justify;
        font-size: 20px;
        width: 100%;

    }

    a {

        text-decoration: none;
        color: white;
        font-size: 22px;
        font-weight: 600;
        padding-right: 1vw;
    }

    .img_lofi_top {

        width: 100vw;

    }


    .paragraph_escuchar {

        align-items: center;
        justify-content: center;
        width: 100%;
        justify-items: center;
    
    }
    
    
    .iframe_video {
    
        width: 40vw;
        height: 430px;
        border: 0;
    
    }
    
    
    /*Bloque de escuchar.html con video a la izquierda y texto a la derecha*/
    .container_escuchar {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        grid-auto-flow: row;
        grid-template-areas:
            "content-text video-music";
    
    }
    
    .content-text {
        grid-area: content-text;
    }
    
    .video-music {
        grid-area: video-music;
        display: flex;
        justify-content: center;
    
    }
    
    /*Bloque de escuchar.html con video a la derecha y texto a la izquierda*/
    .container_escuchar2 {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        align-items: center;
        grid-auto-flow: row;
        grid-template-areas:
            "video-music2 content-text2";
    }
    
    .content-text2 {
        align-items: center;
        padding-top: 0 auto;
        padding-bottom: 0 auto;
    
    }
    
    .video-music2 {
        grid-area: video-music2;
        display: flex;
        justify-content: center;
    
    }
    
    .img_lofi {
    
        width: 40vw;
    
    }
    
    
    .lofi_text_top {
    
    
        display: grid;
        justify-items: center;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0vw;
        grid-auto-flow: row;
        grid-template-areas:
            "paragraph1 paragraph2 paragraph3";
    }
    
    .paragraph1 {
        grid-area: paragraph1;
        align-items: center;
        justify-content: center;
        width: 30vw;
    }
    
    .paragraph2 {
        grid-area: paragraph2;
        width: 30vw;
    
    }
    
    .paragraph3 {
        grid-area: paragraph3;
        width: 30vw;
    
    }
    
    .img_lofi_girl {
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto 0;
        width: 100%;
        height: auto;
    }
    
}