@import 'variables/variables';
@import 'mixin';

.body {


    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    width: 100% !important;
    background: $clr_bground;
    background-blend-mode: multiply;

    .nav_menu {

        /*Customización nav menu*/
        flex-wrap: wrap;
        width: 100%;
        color: white;
        height: auto;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: auto 1vw;

            .nav-item {

                height: 100%;

            }

            a {

                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;

                &:hover {

                    color: $clr_hover_navmenu;

                }

                .carrito_compras {

                    height: 100%;
                    padding: 10px;

                    &:hover {

                        color: $clr_hover_navmenu;
                        @include trnsfm_1_3;

                    }
                }


                .logo_header {

                    height: 60px;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    &:hover {

                        @include trnsfm_1_1;

                    }
                }
            }
        }
    }

    .img_lofi_top {

        width: 100%;

    }

    .img-lofi-paragraph{

        width: 100%;
        margin: 3px;

    }

    .main {
        align-content: center;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
    }

    h1 {
        @include text_center;
    }


    h2 {
        @include text_center;
    }


    h3 {
        @include text_center;
    }


    p {


        text-align: justify;
        font-size: 20px;

    }

    a {

        text-decoration: none;
        color: white;
        font-size: 22px;
        font-weight: 600;
        padding-right: 1vw;

    }

    .img_lofi {

        width: 40vw;

    }

    .lofi_text_top {

        display: grid;
        justify-items: center;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0vw;
        grid-auto-flow: row;
        grid-template-areas:
            "paragraph1 paragraph2 paragraph3";

    }

    .paragraph1 {

        grid-area: paragraph1;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .paragraph2 {

        grid-area: paragraph2;
        width: 100%;

    }

    .paragraph3 {

        grid-area: paragraph3;
        width: 100%;

    }

    .img_lofi_girl {

        display: flex;
        justify-content: center;
        @include text_center;
        padding: auto 0;
        height: auto;

    }

    .footer {

        height: 100%;

    }
}