.body{
.paragraph_escuchar {

    align-items: center;
    justify-content: center;
    width: 100%;
    justify-items: center;

}


.iframe_video {

    width: 40vw;
    height: 430px;
    border: 0;

}


/*Bloque de escuchar.html con video a la izquierda y texto a la derecha*/
.container_escuchar {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas:
        "content-text video-music";

}

.content-text {
    grid-area: content-text;
}

.video-music {
    grid-area: video-music;
    display: flex;
    justify-content: center;

}

/*Bloque de escuchar.html con video a la derecha y texto a la izquierda*/
.container_escuchar2 {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas:
        "video-music2 content-text2";
}

.content-text2 {
    align-items: center;
    padding-top: 0 auto;
    padding-bottom: 0 auto;

}

.video-music2 {
    grid-area: video-music2;
    display: flex;
    justify-content: center;

}

.img_lofi {

    width: 40vw;

}


.lofi_text_top {


    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0vw;
    grid-auto-flow: row;
    grid-template-areas:
        "paragraph1 paragraph2 paragraph3";
}

.paragraph1 {
    grid-area: paragraph1;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

.paragraph2 {
    grid-area: paragraph2;
    width: 30vw;

}

.paragraph3 {
    grid-area: paragraph3;
    width: 30vw;

}

.img_lofi_girl {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto 0;
    width: 100%;
    height: auto;
}

}