.contact_style {

    position: center;
    width: 100vw;
    color: black;
}

/* Fin imagen de fondo de "Contacto.html"*/

/* Formulario "Contacto.html"*/

.form_h1 {
    font-weight: bold;
}

.form_contact {

    width: 50vw;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: #5b258ecc;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 15vh;
    margin-bottom: 15vh;

}

/* Botones formulario */


.buttom_confirm_form {

    width: 30%;
    height: 30px;
    color: #000;
    font-weight: bold;

}

.buttom_delete_form {

    width: 30%;
    height: 30px;
    color: #000;
    font-weight: bold;

}

.form_buttons {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
}

/* Fin botones formulario */

.item_form {

    width: 100%;
    align-items: center;
    height: 5vh;
    font-weight: bold;
    color: #000;
}
