@import 'mixin';
@import 'mediaq';

.paragraph_escuchar {

    @include text_center;
    justify-content: center;
    justify-items: center;

}

.iframe_video {

    width: 80%;
    height: 430px;
    border: 0;

}

.container_escuchar_mother {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-auto-flow: row;

}

/*Bloque de escuchar.html con video a la izquierda y texto a la derecha*/
.container_escuchar {

    @extend .container_escuchar_mother;

    grid-template-areas:
        "content-text video-music";



    .content-text {
        grid-area: content-text;
    }

    .video-music {
        grid-area: video-music;
        display: flex;
        justify-content: center;

    }
}
    /*Bloque de escuchar.html con video a la derecha y texto a la izquierda*/

    .container_escuchar2 {

        @extend .container_escuchar_mother;

        grid-template-areas:
            "video-music2 content-text2";


    .content-text2 {
        align-items: center;
        padding-top: 0 auto;
        padding-bottom: 0 auto;

    }

    .video-music2 {
        grid-area: video-music2;
        display: flex;
        justify-content: center;

    }
}

@media (max-width: 870px) {


    .container_escuchar {

        display: block;
    }
    .paragraph_escuchar {

        @include text_center;
        justify-content: center;
        justify-items: center;

    }

    .content-text {

        justify-content: center;
        padding-top: 0 auto;
        padding-bottom: 0 auto;
        @include text_center;

    }

    .video-music {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container_escuchar2 {

        display: block;
    }

    .content-text2 {

        padding-top: 0 auto;
        padding-bottom: 0 auto;
        @include text_center;
    }

    .video-music2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .iframe_video {

        width: 100%;
        height: 430px;
        border: 0;

    }

    .container_escuchar {

        justify-content: center;

    }
}