.body {
    
    .footer {
    
    display: flex;
    height: auto;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    font-size: 20px;

    .logo_facebook {

        width: 25px;
        height: 20px;

    }

    .logo_instagram {

        width: 15px;
        height: 15px;

    }

    .logo_twitter {

        width: 15px;
        height: 15px;

    }

    .copy_footer {

        display: inline;

    }
}
}