.header {

    width: 100vw;

    .nav_menu {

        /*Customización nav menu*/
        background-color: #000;
        flex-wrap: wrap;
        width: 100vw;
        color: white;
        height: auto;
        font-size: 20px;

        nav a:hover {

            color: #5B258F;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
        
        }

        a {

            text-decoration: none;
            color: white;
            font-size: 22px;
            font-weight: 600;
            padding-right: 1vw;
        }

        .carrito_compras {

            height: 30px;

        }

        .img_lofi_top {

            width: 100vw;

        }
    }

}