@import 'mixin';


@media (min-width: 760px) {

    .form_contact {

        width: 80vw;
        margin: 0 auto;
        padding: 20px;
        background-color: #5b258ecc;
        border-radius: 3px;
        margin-top: 110px;
        margin-bottom: 110px;

    }

    .index_text {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 10px;
        grid-template-areas:
        "index_pharagraph1 index_pharagraph2";

}

@media (min-width: 300px) {

    .form_contact {

        width: 80vw;
        margin: 0 auto;
        padding: 20px;
        background-color: #5b258ecc;
        border-radius: 3px;
        margin-top: 110px;
        margin-bottom: auto;

    }
}
}