@import './variables/variables.scss';
@import 'mixin';

.product-card-container {

    height: 500px;
    overflow-x: hidden;
    height: 550px;

    .product-card {

        box-shadow: 0 2px 7px #dfdfdf;
        background: #fafafa;
        width: auto;
        margin: 20px auto;
        max-width: 280px;

        .product-tumb {

            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 300px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            background: #f0f0f0;
            overflow-y: hidden;



            img {

                width: auto;
                max-width: 250px;
                margin: auto;
                padding: 10px;

                &:hover {

                    @include trnsfm_1_1;

                }
            }
        }

        .product-details {

            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 5px;
            margin-bottom: auto;
            height: 250px;

            .product-catagory {

                display: block;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ccc;
                margin-bottom: 5px;

            }

            .product-details {

                height: 100%;
            }
        
            .product-catagory {
        
                margin-bottom: auto;
        
            }

            h4 a {

                font-weight: 500;
                display: block;
                text-align: center;
                margin-bottom: 5px;
                text-transform: uppercase;
                color: #363636;
                text-decoration: none;
                transition: 0.3s;
                padding: 3px;

                &:hover {
                    color: #5B258F;
                }

            }

            p {

                font-size: 15px;
                line-height: 22px;
                margin-bottom: 18px;
                color: #999;

            }


            .product-bottom-details {

                overflow: hidden;
                border-top: 1px solid #eee;
                display: flex;
                justify-content: space-evenly;
                justify-items: center;
                align-items: center;
                flex-wrap: wrap;

                .product-price {

                    font-size: 18px;
                    color: #363636;
                    font-weight: 600;



                    small {

                        font-size: 80%;
                        font-weight: 400;
                        text-decoration: line-through;
                        display: inline-block;
                        margin-right: 5px;
                        color: red;

                    }

                }

                .btn-violet {

                    background-color: #5B258F;
                    color: #f0f0f0;
                    display: flex;
                    justify-content: center;

                }
            }

            .product-links a {

                display: inline-block;
                margin-left: 5px;
                color: #e1e1e1;
                transition: 0.3s;
                font-size: 17px;

            }

            .product-links a:hover {
                color: red;
            }
        }
    }
}